@mixin nav-active {
    font-weight: bold;
    color: $navy;
    background-color: #FFF;
}

.html {
    .inside-main>h2::before {
        content: 'HTML';
    }
    .nav-wrap li.navHtml span {
        @include nav-active;
    }
    .inside-flex>li i {
        color: #e44d26;
    }
}

.css {
    .inside-main>h2::before {
        content: 'CSS';
    }
    .nav-wrap li.navCss span {
        @include nav-active;
    }
    .inside-flex>li i {
        color: #1a70b5;
    }
}

.js {
    .inside-main>h2::before {
        content: 'JAVASCRIPT';
    }
    .nav-wrap li.navJs span {
        @include nav-active;
    }
}

.frontend {
    .inside-main>h2::before {
        content: 'FRONT-END';
    }
    .nav-wrap li.navFe span {
        @include nav-active;
    }
}

.app {
    .inside-main>h2::before {
        content: 'APPLICATION';
    }
    .nav-wrap li.navApp span {
        @include nav-active;
    }
}

.res {
    .inside-main>h2::before {
        content: 'RESOURCES';
    }
    .nav-wrap li.navRes span {
        @include nav-active;
    }
}

.travel {
    .inside-main>h2::before {
        content: '寶島壯遊';
    }
}

.contact {
    .inside-main>h2::before {
        content: 'Contact';
    }
}